*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-image: linear-gradient(to right,#cebd26,#8fd41f);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-size: cover;
}    
nav{
    background-image: linear-gradient(to right,#c8d38c,#8f886a);
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
    box-sizing: border-box;
}

.logo{
    width: 170px;
    align-items: center;
    
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color:rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(0, 0, 0);
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 50%;
}
.text-box{
    overflow-wrap: break-word;
    inline-size: 70%;
    display: block;
    color: #fff;
    position: static;
    bottom: 12%;
    padding: 10% 8%;
    animation: fadeInToRight 3s forwards;
    width: 70%;
}
@keyframes fadeInToRight{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(5%);
    }
}
.text-box p{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    
}
.text-box h1{
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(img/backVigreeze.jpg);
    -webkit-background-clip: text;
    background-position: 10px 0;
    animation: back 20s linear infinite;
}

@keyframes back{
    100%{
       background-position: 2000px 0; 
    }
}

@media screen and (max-width: 800px){
    .text-box{
        width: 100%;
    }
    .container{
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    .text-box{
        width: 100%;
    }
    .container{
        width: 100%;
    }
}